<!-- Aside: Favorites list -->
<aside aria-label="favorites">
    <div>
        <section>
            <h2>Favorites(<span></span>) <a href="/favorites">↗️</a></h2>
            <button tabindex="-1">❌</button>
        </section>

        <!-- List -->
        <ul></ul>
    </div>
</aside>
