

<!-- Footer with toggle buttons -->
<footer>
    <menu>

        <!-- Toggle Favorites button -->
        <li>
            <a href="/favorites" aria-label="toggle-favorites" data-transition="true">
                ❤️
            </a>
        </li>

        <!-- Toggle filters button -->
        <li>
            <button aria-label="toggle-filters">
                🔎
            </button>
        </li>
    </menu>
</footer>