<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ page.title }} | RGA</title>
    <meta name="description" content="Rijksmuseum Gallery App">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/bui5xab.css">
    <link rel="manifest" href="./manifest.json">
</head>