<section>

    <!-- Explore section -->
    <h2>{{ headline }}</h2>

    <!-- Radio options: columnsize picker -->
    <div>

        <!-- 2 columns -->
        <input type="radio" name="layout" id="col-2">
        <label for="col-2">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </label>

        <!-- 3 columns -->
        <input type="radio" name="layout" id="col-3">
        <label for="col-3">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </label>
    </div>
</section>