<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    <header>
        {{> title}}
    </header>
    <main id="details" class="page-transition">
        {{{body}}}
    </main>
    {{> favorites}}
    {{> filters}}
    {{> footer }}
    {{> scripts }}
</body>
</html>