<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    <header>
        {{> title }}
        {{> nav }}
    </header>
    <main id="home" class="page-transition">
        {{{body}}}
    </main>
    {{> favorites}}
    {{> filters}}
    {{> footer }}
    {{> modal }}
    {{> scripts }}
    <script src="/js/pages/home.js" type="module"></script>
</body>
</html>