<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    <header>
        {{> title }}
        {{> nav headline='Explore' }}
    </header>
    <main id="home" class="no-js">
        {{{body}}}
    </main>
    {{> favorites}}
    {{> filters}}
    {{> footer }}
    {{> modal }}
    {{> scripts }}
    <script src="/js/pages/home.js" type="module"></script>
</body>
</html>