<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    <header>
        {{> title }}
        {{> nav }}
    </header>
    <main>
        {{{body}}}
    </main>
    {{> favorites}}
    {{> filters}}
    {{> footer }}
    {{> scripts }}
</body>
</html>