/* Start dialog */
dialog[open]{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    max-height: none;
    margin: auto;
}

dialog[open]::backdrop {
    background: rgba(0, 0, 0, .8);
}

dialog[open] form{
    align-self: end;
}

dialog[open] form button{
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
}

dialog[open] div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

dialog[open] div a{
    padding: 10px 20px;
}

dialog[open] div a:first-of-type{
    border: 2px solid var($accent-2);
}

dialog[open] div a:last-of-type{
    color: black;
    font-weight: 700;
    background-color: var($accent-2);
}
/* End dialog */