main.error{
    display: grid;
    place-content: center;
    height: 70vh;
}

main.error section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
}

main.error h2{
    color: red;
}

main.error p{
    font-weight: 700;
    font-size: 1.2rem;
}

main.error button,
main.error a{
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-weight: 700;
}