/* Start spinner */
main span{
    display: grid;
    place-content: center;
    height: 30px;
    margin-top: 20px;
}

main > span::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 30px;
    aspect-ratio: 1/1;
    border: 2px dashed black;
    border-radius: 50%;
    transform-origin: left;
    animation: spinner 3s linear infinite;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg) translateX(-50%);
    }
    100%{
        transform: rotate(360deg) translateX(-50%);
    }
}
/* End spinner */