<section>
    <nav>
        <a href="#home">Back to home</a>
        <a href="${external_link}" target="_blank">Rijksmuseum </a>
    </nav>
    <article>
        <h1 tabIndex="0">${details.title}${msg}</h1>
        <div style="${style}">
            <img tabIndex="0" src="${image}" alt="${alt}">
            <p>${details.longTitle}</p>
            <button>${saveButtonIcon}</button>
        </div>
    </article>
</section>